<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign publications = data[1] %}
  {% for content in publications %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center date-column">
          {% if content.dateRange and content.dateRange.end %}
            {% assign date = content.dateRange.end | split: '-' | slice: 0, 2 | join: '.' %}
          {% elsif content.dateRange and content.dateRange.start %}
            {% assign date = content.dateRange.start | split: '-' | slice: 0, 2 | join: '.' %}
          {% else %}
            {% assign date = '' %}
          {% endif %}
          <table class="table-cv">
            <tbody>
              <tr>
                <td>
                  {% if date %}
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">{{ date }}</span>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            {% if content.url %}
              <a href="{{ content.url }}">{{ content.title }}</a>
            {% else %}
              {{ content.title }}
            {% endif %}
            {% if content.status %}
              <span class="badge badge-secondary ml-2">{{ content.status }}</span>
            {% endif %}
          </h6>
          {% if content.authors %}
            <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">
              {% for author in content.authors %}
                {% assign author_parts = author | split: '**' %}
                {% if author_parts.size > 1 %}
                  {% for part in author_parts %}
                    {% assign part_index = forloop.index0 | modulo: 2 %}
                    {% if part_index == 1 %}
                      <strong>{{ part }}</strong>
                    {% else %}
                      {{ part }}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {{ author }}
                {% endif %}
                {% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </h6>
          {% endif %}
          {% if content.venue %}
            <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ content.venue }}</h6>
          {% endif %}
          {% if content.equal_contribution_note %}
            <h6 class="ml-1 ml-md-4" style="font-size: 0.85rem; font-style: italic; color: #666;">{{ content.equal_contribution_note }}</h6>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
